.product-detail{
    display: flex;
    margin: 20px;
    column-gap: 30px;
}
.productdetail-image{
    width:200px;
    height: 300px;
    
}
.productdetails-info{
    font-size: larger;
  margin-top: 20px;
}